.faq-content-sec {
	padding: 0;
	background-color: white;
}

.faq-content-sec p {
	font-family: 'Josefin Sans', sans-serif;
}

.content-inner {
	color: #666;
	line-height: 1.5;
	font-size: 16px;
}

.text-a {
	background-color: #94c0e5;
	width: 100%;
	height: auto;
	padding: 50px;
}

.text-ac {
	color: rgb(255, 255, 255);
}

.text-b {
	background-color: white;
	width: 100%;
	height: auto;
	padding: 50px;
}

.text-bc {
	color: #94c0e5;
}

/* Add this CSS to your existing CSS file or style section */

ul {
	text-align: start;
	list-style-position: inside; /* This will align the list items to the center */
	padding-left: 10%; /* Remove the default left padding/margin */
}

ul li {
	margin-left: 0; /* Remove the default left margin for list items */
}

/* for mobile responsive */
@media only screen and (max-width: 426px) {
	.content-inner {
		margin: 0 !important;
		width: 100% !important;
	}

	.about-content-sec {
		padding: 70px 0;
	}
}
