.trustTeam {
	padding: 120px 0;
	background-color: #94c0e5;
}

.trustTeam-txt h2 {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 23px;
	color: #ffffff;
	font-family: 'Marker Felt', sans-serif;
}

.trustTeam-txt p {
	margin-bottom: 15px;
	font-weight: 300;
	color: #ffffff;
	font-family: 'Josefin Sans', serif;
}
