.about-wrapper {
	margin-bottom: 120px;
}

.about-mission {
	position: relative;
}

.about-content h1 {
	margin-bottom: 20px;
	font-family: 'marker felt', sans-serif;
	font-weight: 400;
}

.mission-content p {
	color: #000000;
	font-family: 'josefin sans', sans-serif;
}

.mission-content a,
.single-service-box a {
	margin-top: 15px;
	color: #94c0e5;
	font-size: 14px;
	text-decoration: none;
	line-height: 15px;
	font-weight: 500;
	padding-bottom: 5px;

	border-bottom: 2px solid #94c0e5;
	transition: all 0.2s ease 0s;
}

.mission-content a:hover {
	color: #eda84e;
}

.center-name-photo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.my-photo {
	width: 500px;
	height: auto;
	border-radius: 10%;
}

.my-name {
	font-family: 'Josefin sans', sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
