.about-content-sec {
	padding: 120px 0;
}

.section-title-team {
	font-family: 'marker felt', sans-serif;
	padding-top: 40px;
}

.text-center p {
	font-family: 'josefin sans', sans-serif;
}

.team-photo {
	margin-top: 40px;
	width: 100%;
	height: auto;
}
