.achivement-wrap {
	padding: 120px 0;
	margin-bottom: 120px;
	background: #ffffff;
}

.play-btn {
	padding-right: 13px;
}

.section-title1 {
	color: #94c0e5;
	font-family: 'Marker Felt', sans-serif;
}

.section-txt1 p {
	color: #94c0e5;
	font-size: 17px;
	margin-bottom: 45px;
	font-family: 'Josefin Sans', sans-serif;
}

.market-video {
	width: 100%;
	height: 600px;
}

.single-funfact {
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 30px;
	margin-top: 30px;
}

.single-funfact span {
	font-size: 24px;
	font-weight: 700;
	position: relative;
	line-height: 30px;
	display: inline-block;
}

/* for mobile responsive */
@media only screen and (max-width: 426px) {
	.achivement-txt p {
		width: 100% !important;
	}

	.more-tool {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.theme-btn {
		line-height: 0 !important;
		padding: 0 20px !important;
	}
}

@media only screen and (max-width: 321px) {
	.watchBtn {
		padding: 0 0px !important;
		font-size: 12px;
	}
}
