.message-wrapper {
	background-color: #d9efff;
}

.about-thank-you {
	color: #279b61;
	font-family: 'Josefin Sans', serif-sans;
	font-size: 25px;
}

.details-my-photo-div {
	padding: 20px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.details-my-photo {
	width: 70%;
	height: auto;
	border-radius: 10%;
}

.details-tooth-run {
	position: relative;
	width: 20%;
	height: auto;
}
