.message-wrapper {
	background-color: #d9efff;
}

.about-thank-you {
	color: #279b61;
	font-family: 'Josefin Sans', serif-sans;
	font-size: 25px;
}

.about-my-photo {
	width: 50%;
	height: auto;
}

.tooth-run-img {
	position: relative;
	width: 20%;
	height: 130px;
}
