.container-head {
	background: #ffffff;
	border-radius: 2.5rem;
	transition: all 0.5s ease-in-out;
	padding: 0 2.5rem;
	margin-top: 1.5625rem;
}

.header-logo {
	width: auto;
	height: 6.25rem;
	top: 1.25rem;
	left: 18.125rem;
}

.collapse-icon {
	width: 3.75rem;
	height: 3.75rem;
}

.head-bg {
	background-color: #45e8c2;
}

.list-item {
	padding: 1.5625rem 0;
	display: inline-block;
	color: #006;
	text-transform: capitalize;
	padding-left: 2.5rem;
	font-family: 'marker felt', Georgia, 'Times New Roman', Times, serif;
	font-size: 1.125rem;
	font-weight: 400;
}

.list-item:hover {
	color: #45e8c2;
}

.ml-5 {
	margin-left: 1.25rem !important;
}

@media (max-width: 991px) {
	.header-logo {
		width: auto;
		height: 5.625rem;
		top: 1.25rem;
		left: 18.125rem;
	}

	.collapse-icon {
		width: auto;
		height: 3.125rem;
	}
}

@media (max-width: 550px) {
	.header-logo {
		width: auto;
		height: 4.375rem;
		top: 1.25rem;
		left: 18.125rem;
	}

	.collapse-icon {
		width: auto;
		height: 1.875rem;
	}
}

@media (max-width: 375px) {
	.header-logo {
		width: auto;
		height: 3.125rem;
		top: 1.25rem;
		left: 18.125rem;
	}

	.collapse-icon {
		width: auto;
		height: 1.25rem;
	}
}
