.direction-details-sec {
	padding: 120px 0;
	background-color: #d9efff;
}

.direction-details li {
	padding: 8px;
}

.direction-details p {
	padding: 8px;
}

.single-direction-box-detail {
	width: 100%;
	height: auto;
	padding: 25px;
}

/* @media screen and (max-width: 1050px) {
	.single-direction-box-detail {
		width: 100%;
		height: auto;
	}
} */
