.contactUs-wrapper {
	padding: 80px 0;
	background-color: #d9efff;
}

.single-contactUs {
	justify-content: center;
	text-align: center;
	flex: auto;
	font-family: 'Josefin Sans', sans-serif;
	font-size: auto;
}

.single-contact-box-detail {
	width: 100%;
	height: auto;
	padding: 25px;
}
