.single-hero-slide {
	background-color: #94c0e5;
	padding-top: 10vh;
	padding-bottom: 0;
	font-family: 'marker felt', sans-serif;
}

.hero-slide-phrase {
	display: flex;
	justify-content: center;

	align-items: center;
	flex-direction: column;
	padding-right: 0;
	padding-left: 0;
}

.hero-slide-phrase h2 {
	color: rgb(255, 255, 255);
	font-size: 6vw;
}

.hero-slide-phrase p {
	color: #279b61 !important;
	font-family: 'Josefin sans', serif;
	font-size: 2vw;
}

.heroRowTeeth {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-top: -15vw;
}

.animate-img {
	display: flex;
	justify-content: center;
}

.animate-img .right-hand,
.animate-img .left-hand {
	animation: movebounce 2s ease-in-out infinite;
	animation-delay: 100ms;
	animation-direction: alternate;
	z-index: 2;
	margin-top: -5vw;
}

.animate-img .right-hand {
	animation-duration: 2s;
	width: 30vw;
	height: 30vw;
}

.animate-img .left-hand {
	animation-duration: 2.5s;
	width: 25vw;
	height: 25vw;
}

@keyframes movebounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
	}
}
