.footer-bg {
	background-color: #94c0e5;
}

.single-footer-widget {
	padding: 10% 0 9%; /* Using percentage for padding */
	text-align: center;
}

.widget-title {
	margin-bottom: 3%; /* Using percentage for margin */
}

.widget-title h2 {
	line-height: 1;
	font-size: 3rem; /* Using 'rem' for font size */
	color: #fff !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: 600;
}

.footer-link {
	font-weight: 400;
	display: block;
	line-height: 3.4rem; /* Using 'rem' for line height */
	color: #ffffff !important;
}

.footer-link:hover {
	color: #45e8c2 !important;
}

.footer-copy-right {
	padding: 2% 0; /* Using percentage for padding */
	background-color: #45e8c2;
}

.name {
	color: #000100;
}

/* for mobile responsive */
@media only screen and (max-width: 426px) {
	.single-footer-widget {
		padding: 4.5% 0 2%;
	}
}

@media only screen and (max-width: 321px) {
	.footer-copy-right {
		padding: 2% 0.8%;
	}
}
